{% load staticfiles %}
<html>
    <head>
        <title>OpenStack Security Notes</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/website.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/prism.css' %}">
        <script src="{% static 'js/prism.js' %}"></script> -->
    </head>
    <body>
        <div>
            <h1><a href="/">OpenStack Security Notes</a></h>
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
                {% block content %}
                {% endblock %}
    </body>
</html>
