{% extends 'website/base.html' %}
{% load release_tags %}
{% block content %}
        <div class="post">
            <h1>{{ post.ossn }}</h1>
            <h2>{{ post.title }}</h2>
            <h3>Summary</h3>
            <p>{{ post.summary|linebreaksbr }}</p>
            <h3>Releases</h3>
            <p>{{ post.releases|decode_release }}</p>
            <h3>Discussions</h3>
            <p>{{ post.discussion|safe|linebreaksbr }}</p>
            <h3>Recommended Actions</h3>
            <p>{{ post.actions|safe|linebreaks }}</p>
            <h3>Contacts / References</h3>
            <p>{{ post.contact|linebreaksbr }}</p>
            <p>{{ post.references|linebreaksbr }}</p>
        </div>
{% endblock %}
