{% extends 'website/base.html' %}
{% load release_tags %}
{% block content %}
<div style="overflow-x:auto;">
    <table style="width:100%">
        <tr class="header">
        <tr style="background-color:#0084b4;color:white;">
            <th>OSSN</th>
            <th>Title</th>
            <th>Summary</th>
            <th>Releases</th>
            <th>Published</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td><a href="{% url 'post_ossn' pk=post.pk %}">{{ post.ossn }}</a></td>
                <td><p>{{ post.title}}</p></td>
                <td><p>{{ post.summary|truncatechars:50}}</p></td>
                <td><p>{{ post.releases|decode_release }}</p></td>
                <td><p>{{ post.published_date }}</p></td>

            </tr>
        </div>
        {% endfor %}
{% endblock %}
